.title {
  text-align: center;
  font-family: arial, sans-serif;
}

.score {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 80%;
  margin: auto;
}

.score td, #score th {
  border: 1px solid #ddd;
  padding: 8px;
}

.score tr:nth-child(even){background-color: #f2f2f2;}

.score tr:hover {background-color: #ddd;}

.score th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4846aa;
  color: white;
}

.home-button {
  margin: 10px 10%;
  font-size: 20px;
  background-color: grey;
  color: white;
}

.home-button:hover {
  background-color: #4846aa;
}

.loader {
  margin: 20% 50%;
}